body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.queue-container {
    flex: 1;
    text-align: center;
    border: 1px solid #000;
}

.queue {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 80%;
}

.queue div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
}

.delete-btn {
    padding: 2px 5px;
    font-size: 0.8rem;
    color: red;
    border: none;
    background: transparent;
    cursor: pointer;
}
